.App {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  height: 100%;
  /* padding: 10px; */
  border: 1px solid white;
  color: white;
}

.blockly-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 600px;
  left: 0px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 800px;
  z-index: 1;
}

.blockly-content {
  bottom: 0px;
  left: 0px;
  padding: 16px;
  position: absolute;
  z-index: 2;
}

.content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

input:not([type=checkbox], [type=radio]),
select,
textarea {
  margin-bottom: 0px !important;
}